.wrapper main:first-child {
    border: 1px solid red;
    flex: 3;
    /* padding: 50px 100px; */
    margin-right: 32px;
}
.wrapper main:nth-child(2) {
    border: 1px solid green;
    flex: 1;
}

.css-1d0qal1 {
    /* background-color: red !important; */
    width: 50% !important;

}